name: CI

on:
  push:
    branches:
      - main
  pull_request:

jobs:
  build:
    name: Build
    runs-on: ubuntu-latest
    steps:
      - name: Checkout Project
        uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8 # v6

      - name: Setup Java
        uses: actions/setup-java@be666c2fcd27ec809703dec50e508c2fdc7f6654 # v5
        with:
          distribution: temurin
          java-version: 17

      - name: Setup Gradle
        uses: gradle/actions/setup-gradle@f29f5a9d7b09a7c6b29859002d29d24e1674c884 # v5
        with:
          validate-wrappers: true
          build-scan-publish: true
          build-scan-terms-of-use-url: https://gradle.com/terms-of-service
          build-scan-terms-of-use-agree: "yes"
          cache-overwrite-existing: true

      - name: Grant Execution Permission
        run: chmod +x ./gradlew

      - name: Build Project
        run: ./gradlew build --stacktrace --info

      - name: Extract Files
        id: files
        run: |
           files=($(find build/libs -maxdepth 1 -type f -name "discord-bridge-*.jar"))
           echo "file1=$(basename "${files[0]}")" >> "$GITHUB_OUTPUT"
           echo "file2=$(basename "${files[1]}")" >> "$GITHUB_OUTPUT"
           echo "file3=$(basename "${files[2]}")" >> "$GITHUB_OUTPUT"

      - name: Upload ${{ steps.files.outputs.file1 }}
        uses: actions/upload-artifact@b7c566a772e6b6bfb58ed0dc250532a479d7789f # v6
        with:
          name: ${{ steps.files.outputs.file1 }}
          path: build/libs/${{ steps.files.outputs.file1 }}

      - name: Upload ${{ steps.files.outputs.file2 }}
        uses: actions/upload-artifact@b7c566a772e6b6bfb58ed0dc250532a479d7789f # v6
        with:
          name: ${{ steps.files.outputs.file2 }}
          path: build/libs/${{ steps.files.outputs.file2 }}

      - name: Upload ${{ steps.files.outputs.file3 }}
        uses: actions/upload-artifact@b7c566a772e6b6bfb58ed0dc250532a479d7789f # v6
        with:
          name: ${{ steps.files.outputs.file3 }}
          path: build/libs/${{ steps.files.outputs.file3 }}
