name: CI

on:
  push:
    branches:
      - main
  pull_request:

jobs:
  build:
    name: Build
    runs-on: ubuntu-latest
    steps:
      - name: Checkout Project
        uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8 # v6

      - name: Setup Java
        uses: actions/setup-java@f2beeb24e141e01a676f977032f5a29d81c9e27e # v5
        with:
          distribution: temurin
          java-version: 17

      - name: Setup Gradle
        uses: gradle/actions/setup-gradle@4d9f0ba0025fe599b4ebab900eb7f3a1d93ef4c2 # v5
        with:
          validate-wrappers: true
          build-scan-publish: true
          build-scan-terms-of-use-url: https://gradle.com/terms-of-service
          build-scan-terms-of-use-agree: "yes"
          cache-overwrite-existing: true

      - name: Grant Execution Permission
        run: chmod +x ./gradlew

      - name: Build Project
        run: ./gradlew build --stacktrace --info

      - name: Extract Files
        id: files
        run: |
           files=($(find build/libs -maxdepth 1 -type f -name "discord-bridge-*.jar"))
           echo "file1=$(basename "${files[0]}")" >> "$GITHUB_OUTPUT"
           echo "file2=$(basename "${files[1]}")" >> "$GITHUB_OUTPUT"
           echo "file3=$(basename "${files[2]}")" >> "$GITHUB_OUTPUT"

      - name: Upload ${{ steps.files.outputs.file1 }}
        uses: actions/upload-artifact@330a01c490aca151604b8cf639adc76d48f6c5d4 # v5
        with:
          name: ${{ steps.files.outputs.file1 }}
          path: build/libs/${{ steps.files.outputs.file1 }}

      - name: Upload ${{ steps.files.outputs.file2 }}
        uses: actions/upload-artifact@330a01c490aca151604b8cf639adc76d48f6c5d4 # v5
        with:
          name: ${{ steps.files.outputs.file2 }}
          path: build/libs/${{ steps.files.outputs.file2 }}

      - name: Upload ${{ steps.files.outputs.file3 }}
        uses: actions/upload-artifact@330a01c490aca151604b8cf639adc76d48f6c5d4 # v5
        with:
          name: ${{ steps.files.outputs.file3 }}
          path: build/libs/${{ steps.files.outputs.file3 }}
